@font-face {
  font-family: 'Travel';
  src: url('/fonts/TTTravels-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Travel';
  src: url('/fonts/TTTravels-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Travel';
  src: url('/fonts/TTTravels-DemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Travel';
  src: url('/fonts/TTTravels-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Travel';
  src: url('/fonts/TTTravels-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Travel';
  src: url('/fonts/TTTravels-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Travel';
  src: url('/fonts/TTTravels-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-pentagon {
    clip-path: polygon(0% 0%,
        100% 0%,
        100% calc(100% - 50px),
        calc(100% - 80px) 100%,
        0% 100%,
        0% 0%);
  }

  .clip-custom {
    clip-path: polygon(0% 0%,
        100% 0%,
        100% calc(100% - 30px),
        calc(100% - 40px) 100%,
        0% 100%,
        0% 0%);
  }
}

body {
  font-family: "Travel", sans-serif;
}

/* hide scrollbar for chrome, safari, opera */
body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for IE, Edge and Firebox */
body .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-outline {
  -webkit-text-stroke: 2px #84F7290D;
  color: transparent;
}